
<div class='col-sm-3 list-group-item'>
        <span>Total de<br> preguntas</span>
        <span class="badge tp">0</span>
</div>
<div class='col-sm-3 list-group-item'>
        <span>Preguntas<br> correctas</span>
        <span class="badge pc">0</span>
</div>
<div class='col-sm-3 list-group-item'>
        <span>Preguntas <br>incorrectas</span>
        <span class="badge pi">0</span>
</div>
<div class='col-sm-3 list-group-item'>
        <span>Calificacion <br>Total</span>
        <span class="badge cal">0</span>
</div>
<div class='col-sm-4 list-group-item'>
        <button class='btn btn-success center-block rpp'>Resultados por pregunta</button>
</div>
<div class='col-sm-4 list-group-item'>
        <button class='btn btn-warning center-block reset'>Reiniciar examen</button>
</div>
<div class='col-sm-4 list-group-item'>
        <button class='btn btn-success center-block rg'>Resultados globales</button>
</div>