 <ul class='titles list-group col-sm-12 '>
</ul>
    <div class='preguntas col-sm-12'>
        <div class='quiz form-horizontal'>
            <h3 class='pregunta text-center'>Pregunta:</h3>
            <div class='casoClinico panel panel-default'></div>
            <img class='img img-thumbnail center-block img-responsive'/>
            <div class='correcto text-center panel panel-default'></div>
            <div class='list-group'>
                <div class='list-group-item'>Tu respuesta<span class='turespuesta badge'></span></div>
                <div class='list-group-item'>Respuesta correcta<span class='respuestaCorrecta badge'></span></div>
            </div>
            <div class='list-group'>
                <div class='list-group-item'>
                    Bibliografia:<span class='bibliografia'></span>
                </div>
            </div>
            <div class='list-group'>
                <div class='list-group-item'>
                    <button class='btn btn-primary revisionDelCaso'>Analisis del caso clinico</button>
                </div>
            </div>
        </div>
    </div>
    <a href="javascript:history.go(0);" class='btn btn-success'>Ir a Detalles del examen</a>
    <div class="modal fade" id="revisionDelCaso" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
  </div>