<a href="javascript:history.go(0);" class='btn btn-success'>Ir a Detalles del examen</a>
<h2>Areas</h2>
<div class='areas col-md-12'>
    <div class='repeatArea'>
        <div class='col-md-3'>
            <h4 class='area'>Title</h4>
        <ul class='list-group'>
            <li class='list-group-item'>
                TP<span class='tp badge'></span>
            </li>
            <li class='list-group-item'>
                PC<span class='pc badge'></span>
            </li>
            <li class='list-group-item'>
                PI<span class='pi badge'></span>
            </li>
            <li class='list-group-item'>
                % <span class='cal badge'></span>
            </li>
        </ul>
        </div>
    </div>
</div>
<h2>Especialidad</h2>
<div class='especialidades col-md-12'>
    <div class='repeatEspecialidad'>
       <div class='col-md-3'>
            <h4 class='especialidad'>Title</h4>
        <ul class='list-group'>
            <li class='list-group-item'>
                Area: <span class='area'></span>
            </li>
            <li class='list-group-item'>
                TP<span class='tp badge'></span>
            </li>
            <li class='list-group-item'>
                PC<span class='pc badge'></span>
            </li>
            <li class='list-group-item'>
                PI<span class='pi badge'></span>
            </li>
            <li class='list-group-item'>
                % <span class='cal badge'></span>
            </li>
        </ul>
        </div>
    </div>
</div>
<h2>Exploracion</h2>
<div class='exploraciones col-md-12'>
    <div class='repeatExploracion'>
       <div class='col-md-3'>
            <h4 class='exploracion'>Title</h4>
        <ul class='list-group'>
            <li class='list-group-item'>
                TP<span class='tp badge'></span>
            </li>
            <li class='list-group-item'>
                PC<span class='pc badge'></span>
            </li>
            <li class='list-group-item'>
                PI<span class='pi badge'></span>
            </li>
            <li class='list-group-item'>
                % <span class='cal badge'></span>
            </li>
        </ul>
        </div>
    </div>
</div>
<a href="javascript:history.go(0);" class='btn btn-success'>Ir a Detalles del examen</a>